<header>
  <h1>投稿一覧</h1>
</header>
<table class="container">
  <tr class="row">
    <th  class="col-md-2">内容</th>
    <th class="col-md-2">作成者</th>
  </tr>
  <% @blog.each do |blog| %>
  <tr class="row">
    <td  class="col-md-2"><%= blog.name %></td>
    <td class="col-md-2"><%= blog.user.name %></td>
    <td class="col-md-2"><%= link_to '詳細を確認する', blog_path(blog) %></td>
    <td class="col-md-2"><%= link_to "つぶやきを編集する", edit_blog_path(blog) %></td>
    <td class="col-md-2"><%= link_to 'つぶやきを削除する', blog_path(blog), method: :delete %></td>
  </tr>
  <% end %>
</table>
<div class="row">
 <p class="col-md-2"><%= link_to '新しく投稿する', new_blog_path %></p>
</div>
