<%= form_with(model: @user, local: true) do |form| %>

<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= @user.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
  <%= form.label :image %>
  <%= image_tag(@user.image.url)if @user.image && @user.image.url %>
  <%= form.file_field :image %>
  <%= form.hidden_field :image_cache %>
  <%= form.label :content %>
  <%= form.text_field :content %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
  <%= form.submit %>
<% end %>
