<!DOCTYPE html>
<html>
  <head>
    <title>Instagramclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container">
      <div class="tops">
        <div class="row" >
        <% flash.each do |key, value| %>
           <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
        <% if logged_in? %>
          <p class="col-md-2"><%= link_to "プロフィール", user_path(current_user.id) %></p>
          <p class="col-md-3"><%= link_to "画像投稿", feeds_path(current_user.id) %></p>
          <p class="col-md-2"><%= link_to 'お気に入り一覧', favorites_path%></p>
          <p class="col-md-2"><%= link_to "Logout", session_path(current_user.id), method: :delete %></p>
        <% else %>
          <p class="col-md-4">><%= link_to "Sign up", new_user_path %></p>
          <p class="col-md-4">><%= link_to "Login", new_session_path %></p>
        <% end %>
      </div>
    </div>
  </header>
    <%= yield %>
    <footer>
      <p>Instagramclone</p>
    </footer>
  </body>
</html>
